.popup__button-reset {
  padding: 0;
  border: none;
  background: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0e0e0f;
  width: 114px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
