.table__cell-green {
  color: #16a34a;
  padding: 4px 8px;
  background: rgba(34, 197, 94, 0.1);
  border-radius: 16px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
}
