.table__cell-red {
  color: #dc2626;
  padding: 4px 8px;
  background: rgba(239, 68, 68, 0.1);
  border-radius: 16px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
}
