.information__addition-subtitle {
  padding-left: 16px;
  max-width: 330px;
  margin: 0;
  margin-right: 61px;
  padding-right: 16px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #f3f5f6;

  border: 1px solid #dfe1e5;
  border-radius: 8px;
}
