.button__icon_type_table {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  border-radius: 8px;
  padding-right: 16px;
  background: #f3f5f6;
  margin-left: 4px;
  margin-right: 16px;
}
